{% extends "main.html" %}
{% load static %}

{% block content %}

<article>
    <div class="container-fluid">
        <div class="d-flex align-items-start gap-2 my-2">
            <a href="{% url "Dashboard:admin-dashboard" %}" class="text-decoration-none"><h5 class="m-0 light-gray fw-medium">Home</h5></a>
            <span class="material-symbols-rounded light-gray">
                keyboard_arrow_right
                </span>
            <h5 class="m-0 light-gray fw-medium">Announcements</h5>
        </div>

    </div>

    <div class="article-container">
        <div class="mt-1">
            <div class="pt-1 d-flex justify-content-between align-items-center">
                <h2 class="display-6 fw-bold dark-gray mb-3">Announcements</h2>
                <div>
                    <!-- Button trigger modal for new event -->
                <button id="today" class="custom-button text-white mb-2" data-bs-toggle="modal" data-bs-target="#new_announcement">+ New Announcement</button>

                <!-- Modal for New Event-->
                <div class="modal fade" id="new_announcement" tabindex="-1" aria-labelledby="new_announcementLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h3 class="modal-title" id="new_announcementLabel">Create New Event</h3>
                        </div>
                        <form class="needs-validation" novalidate method="POST" action="{% url 'create-announcement' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                  <div class="mb-2">
                                    <label for="event_name" class="form-label body-regular dark-gray">Title</label>
                                    <input type="text" class="form-control body-regular dark-gray" name="title" required>
                                    <div class="invalid-feedback">
                                      Invalid announcement title
                                    </div>
                                  </div>
        
                                  <div class="mb-2">
                                    <label for="event_name" class="form-label body-regular dark-gray">Description</label>
                                    <textarea type="text" class="form-control body-regular dark-gray" name="description" required></textarea>
                                    <div class="invalid-feedback">
                                      Invalid announcement description
                                    </div>
                                  </div>

                                  <div class="mb-2">
                                      <label for="event_name" class="form-label body-regular dark-gray">Poster Image</label>
                                      <input type="file" class="form-control body-regular dark-gray" name="poster" required>
                                      <div class="invalid-feedback">
                                        Please specify poster image
                                      </div>
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-button" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="custom-button">Create</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div> 
                </div>
                
                 
            </div>

            {% if announcements %}
                <div class="table-container">
                    <table id="requestTable">
                    <thead>
                        <tr>
                        <th onclick="sortHolidays(0)">Date</th>
                        <th onclick="sortHolidays(1)">Title</th>
                        <th onclick="sortHolidays(2)">Description</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="admin-event-container">
                        {% for announcement in announcements %}
                        <tr>
                            <td>{{announcement.posted_at|date:'F d, Y'}}</td>
                            <td>{{announcement.title}}</td>
                            <td>{{ announcement.description|slice:":100"|add:"..." }}</td>
                            <td>
                                <div class="d-flex gap-1">

                                    <!-- delete button -->
                                    <button  class="button-light" type="button" data-bs-toggle="modal" data-bs-target="#Delete{{announcement.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg"fill="#f3473b" class="bi bi-trash3-fill action-icon" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                        </svg>
                                    </button>

                                    <!-- modal for deletion of event -->
                                    <div class="modal fade" id="Delete{{announcement.id}}" tabindex="-1" aria-labelledby="Delete{{announcement.id}}Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h3 class="modal-title" id="Delete{{announcement.id}}Label">Delete Announcement?</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p class="pb-2">This can't be undone.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="cancel-button" data-bs-dismiss="modal">Cancel</button>
                                                <form method="POST" action="{% url 'delete-announcement' pk=announcement.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-button">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            {% else %}
                <div class="no-filed-prf-container">                 
                    <div><h5 class="light-gray">It looks like you haven't created any announcements yet.</h5></div>
                    <img src="{% static 'images/empty-box.png' %}" alt="no data found">
                </div>
            {% endif %}
        </div>
    </div>
    
</article>

<script>
    function sortHolidays(columnIndex) {
        const table = document.getElementById("requestTable");
        const rows = Array.from(table.rows).slice(1);
        const sortedRows = rows.sort((a, b) => {
          const aText = a.cells[columnIndex].innerText.toLowerCase();
          const bText = b.cells[columnIndex].innerText.toLowerCase();
          return aText.localeCompare(bText);
        });
      
        sortedRows.forEach(row => table.tBodies[0].appendChild(row));
      }

      (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
      
            form.classList.add('was-validated')
          }, false)
        })
      })()
</script>

{% endblock content %}
